<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ApplyMapper">

    <sql id="Base_Column_List">
        id,student_id,content,time,day,status,descr
    </sql>

    <select id="selectAll" resultType="com.example.entity.Apply">
        select apply.*, student.name as studentName
        from apply
        left join student on apply.student_id = student.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
            <if test="status != null"> and status = #{status}</if>
            <if test="studentId != null"> and student_id = #{studentId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Apply">
        select
        <include refid="Base_Column_List" />
        from apply
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from apply
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Apply" useGeneratedKeys="true">
        insert into apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="studentId != null">student_id,</if>
                <if test="content != null">content,</if>
                <if test="time != null">time,</if>
                <if test="day != null">day,</if>
                <if test="status != null">status,</if>
                <if test="descr != null">descr,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="studentId != null">#{studentId},</if>
                <if test="content != null">#{content},</if>
                <if test="time != null">#{time},</if>
                <if test="day != null">#{day},</if>
                <if test="status != null">#{status},</if>
                <if test="descr != null">#{descr},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Apply">
        update apply
        <set>
            <if test="studentId != null">
                student_id = #{studentId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="day != null">
                day = #{day},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="descr != null">
                descr = #{descr},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>