<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CollegeMapper">

    <sql id="Base_Column_List">
        id,name,content
    </sql>

    <select id="selectAll" resultType="com.example.entity.College">
        select
        <include refid="Base_Column_List" />
        from college
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.College">
        select
        <include refid="Base_Column_List" />
        from college
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from college
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.College" useGeneratedKeys="true">
        insert into college
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="content != null">content,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="name != null">#{name},</if>
                <if test="content != null">#{content},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.College">
        update college
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>