<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">

    <sql id="Base_Column_List">
        id,name,teacher,student,content,time
    </sql>

    <select id="selectAll" resultType="com.example.entity.Comment">
        select
        <include refid="Base_Column_List" />
        from comment
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="teacher != null"> and teacher like concat('%', #{teacher}, '%')</if>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Comment">
        select
        <include refid="Base_Column_List" />
        from comment
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from comment
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Comment" useGeneratedKeys="true">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="content != null">content,</if>
                <if test="time != null">time,</if>
                <if test="teacher != null">teacher,</if>
                <if test="student != null">student,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="name != null">#{name},</if>
                <if test="content != null">#{content},</if>
                <if test="time != null">#{time},</if>
                <if test="teacher != null">#{teacher},</if>
                <if test="student != null">#{student},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Comment">
        update comment
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="teacher != null">
                teacher = #{teacher},
            </if>
            <if test="student != null">
                student = #{student},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>