<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">

    <sql id="Base_Column_List">
        id,name,type,teacher_id,score,num,room,week,segment,status
    </sql>

    <select id="selectAll" resultType="com.example.entity.Course">
        select course.*, teacher.name as teacherName
        from course
        left join teacher on course.teacher_id = teacher.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and course.name like concat('%', #{name}, '%')</if>
            <if test="teacherId != null"> and course.teacher_id = #{teacherId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Course">
        select
        <include refid="Base_Column_List" />
        from course
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from course
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Course" useGeneratedKeys="true">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="type != null">type,</if>
                <if test="teacherId != null">teacher_id,</if>
                <if test="score != null">score,</if>
                <if test="num != null">num,</if>
                <if test="room != null">room,</if>
                <if test="week != null">week,</if>
                <if test="segment != null">segment,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="name != null">#{name},</if>
                <if test="type != null">#{type},</if>
                <if test="teacherId != null">#{teacherId},</if>
                <if test="score != null">#{score},</if>
                <if test="num != null">#{num},</if>
                <if test="room != null">#{room},</if>
                <if test="week != null">#{week},</if>
                <if test="segment != null">#{segment},</if>
                <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Course">
        update course
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="room != null">
                room = #{room},
            </if>
            <if test="week != null">
                week = #{week},
            </if>
            <if test="segment != null">
                segment = #{segment},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>