<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RoomplanMapper">

    <sql id="Base_Column_List">
        id,name,content,status,num
    </sql>

    <select id="selectAll" resultType="com.example.entity.Roomplan">
        select
        <include refid="Base_Column_List" />
        from roomplan
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null"> and status = #{status}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Roomplan">
        select
        <include refid="Base_Column_List" />
        from roomplan
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from roomplan
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Roomplan" useGeneratedKeys="true">
        insert into roomplan
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="content != null">content,</if>
                <if test="status != null">status,</if>
                <if test="num != null">num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="name != null">#{name},</if>
                <if test="content != null">#{content},</if>
                <if test="status != null">#{status},</if>
                <if test="num != null">#{num},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Roomplan">
        update roomplan
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>